# Servidor
PORT=4000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=410228
DB_NAME=comitrack

# Autenticacion
JWT_SECRET=cambia_esta_clave_por_una_larga_y_privada

# IA (opcional, para etapas mas avanzadas)
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
